# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/Graphic/v17/ipch/AutoPCH/b3b38ba7aaa6b7d3/GRAPHIC.ipch
/.vs/Graphic/v17/ipch/AutoPCH/a305529036c67e80/OBJECT.ipch
/.vs/Graphic/v17/Browse.VC.opendb
*.ipch
